header {
    background-attachment: fixed;
    background: url('image.jpg');
    background-size: cover;
    padding: 40px 20px;
}

body {
    margin:0;
    font-family: 'Inter', sans-serif;
    background: #f9f9f9;
    color: #1f1f1f;
}