header {
    background-attachment: fixed;
    background: url('image.jpg');
    background-size: cover;
    padding: 10px 5px;
    width: 100%;
}

body {
    margin:0;
    font-family: 'Inter', sans-serif;
    background: #f9f9f9;
    color: #1f1f1f;
    display:contents;
    background: url('image.jpg');
    box-sizing: border-box;
}

.logo {
    width: 100vw;
    height: 100vh;
   overflow: hidden;
}

.logo img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  display:block;
}



.shop-btn, .about-btn, .guide-btn, .find-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: #252447;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
}
.shop-btn:hover, .about-btn:hover, .guide-btn:hover, .find-btn:hover {
    background:#252447;
    color: #f9f9f9;
}



.signature-range {
    display: flex;
    flex-wrap:wrap;
    gap:40px;
    padding: 60px 40px;

}

.signature-products{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    flex: 1 1 300px;
    max-width: 500px;
    
}

.product-item img {
    width:100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    aspect-ratio: 3px / 4px;
}

.signature-text {
    background-color: #252447;
    color: #f9f9f9;
    flex: 1;
    padding: 40px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: white;
    box-shadow: #252447;
    position: sticky;
    top: 0;
    z-index: 100;
}

.hero {
    background-image: url(hero-background.png);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #f9f9f9;
  padding: 100px 20px;
  margin-bottom: 60px;
}

.hero h2{
  
}

.hero p{

}


.stories-grid {
    width: 100vw;
    height: 100vh;
   overflow: hidden;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    gap:30px;
    margin-top: 30px;
    background-color: #f9f9f9;
    width: auto;
    height: auto;
}

.product-card{
    border-radius:12px;
    overflow: hidden;
    box-shadow: 0 6px 20px;
    display: flex;
    flex-direction: column;
    
}

button{
    background-color: #252447;
    color: #f9f9f9;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    margin-top:auto;
    display: flex;
    align-items:center;
    justify-content:center;
}
footer{
    background-image: url(footerbg.png);
     background-size: cover;
  background-position: center;
  padding: 20px 0;
}

.footer-icon {
  size: auto;
  width: 30px;
  height: auto;
}
 